<h4>New Lawn</h4>
<div>
  <%= form_for @lawn do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit 'GIT OFF' %>
    </div>
  <% end %>
</div>
