<h1>Please Vacate My Lawn (Or Else)</h1>
<%= render "new" %><br/>
<%= link_to "Home", root_path %>
<ul>
<% @lawns.each do |lawn| %>
  <li><%= link_to lawn.name, lawn_path(lawn) %></li>
<% end %>
</ul>
